@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome,

        @{
            System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
        }
        @if (User.Identity.IsAuthenticated)
        {
            @User.Identity.Name @: @User.FindFirst(x=>x.Type==ClaimsIdentity.DefaultRoleClaimType)!.Value
        }
        else
        {
            @:Guest
        }!

    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
